header {
    background-color: #333;
    color: #0d0d0d;
    text-align: center;
    padding: 10px 0;
    background-color: #ea3d3d;
   
}
footer {
    background-color: #0a0b0b;
    color: #fff;
    text-align: center;
    padding:  10px;
    bottom: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
body{
    background-color: rgb(187, 230, 230);
}

.menu{
position: absolute;
display: inline-block;
top: 20px;
left: 20px;
padding: 10px;
font-family: Arial, Helvetica, sans-serifs;

}

.products{
position: absolute;
display: none;
left:0;
background-color: #0d0d0d;
color: #fff;
width: 150px;
padding: 12px 16px;
z-index: 1;
}
    
.menu:hover .products{
display: block
}

a { 
text-decoration: none;
}

.slkyt{
display: flex;
max-width: 100%;
height: auto;
}

.nhl {
flex: 1;
text-align: center;
margin: 16px;
}
.ytvideo {
flex: 1;
text-align: center;
margin: 16px;
}
.khl {
flex: 1;
text-align: center;
 margin: 16px;
}

.brands{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.bauer{
    display: flex;
    justify-content: center;
    max-width: 100px;
    height: auto;
    margin: 50px;
}

.warrior{
    display: flex;
    justify-content: center;
    max-width: 100px;
    height: auto;
    margin: 50px;
}
.ccm{
    max-width: 100px;
    height: auto;
    margin: 50px;
}
.true{
    max-width: 100px;
    height: auto;
    margin: 100px;
}
hr {
    border: none;           
    height: 5px;             
                 
    background-color: #333;  
    margin: 20px auto;       
}
.konatkt{
   display: flex;
}
.text{
    margin-left:80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.palice{
    display: flex;
    max-width: 100%;
text-align: center;
height: auto;
}
.plaica1{
    flex: 1;
text-align: center;
margin: 16px;

}
.palica2{
    flex: 1;
    text-align: center;
    margin: 16px;
}
.palica3{
    flex: 1;
    text-align: center;
    margin: 16px;
}







